<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Logo -->
  <a class="navbar-brand" routerLink="/home">MyApp</a>

  <!-- Toggler for mobile -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links and user menu -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <!-- Center links -->
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/events">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pricing">Pricing</a>
      </li>
    </ul>

    <!-- Right section -->
    <ul class="navbar-nav">
      <!-- If user is NOT authenticated -->
      <ng-container *ngIf="!isAuthenticated; else loggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary ml-2" routerLink="/register">Sign Up</a>
        </li>
      </ng-container>

<!-- If user IS authenticated -->
<ng-template #loggedIn>
  <li class="nav-item dropdown">
    <button #dropdownBtn class="nav-link dropdown-toggle d-flex align-items-center"
            type="button" (click)="toggleDropdown()"
            aria-haspopup="true" [attr.aria-expanded]="dropdownOpen">
<img [src]="userImage"
     class="profile-img"
     alt="User Avatar">      
     <span>{{ username }}</span>
    </button>

    <div class="dropdown-menu dropdown-menu-right" [class.show]="dropdownOpen">
      <!-- Only show Dashboard if user is admin -->
<a 
  *ngIf="isAdmin()" 
  class="dropdown-item" 
  routerLink="/dashboard" 
  (click)="closeDropdown()">
  Dashboard
</a>
      <a class="dropdown-item" routerLink="/ownevents" (click)="closeDropdown()">Organized Events</a>
      <a class="dropdown-item" routerLink="/Calendar" (click)="closeDropdown()">Event Calendar</a>
      <a class="dropdown-item" routerLink="/usersettings" (click)="closeDropdown()">Settings</a>
      <a class="dropdown-item" (click)="logout()">Log Out</a>
    </div>
  </li>
</ng-template>

    </ul>
  </div>
</nav>
